@use "../../sass/variables.scss";

.homePage {
    grid-template-columns: repeat(4, 1fr);
    display:  grid;
    gap: 10px;
    grid-auto-rows: minmax(180px, auto);


    .box {
        padding: 20px;
        border: 1px solid variables.$soft-color;
        border-radius: 10px;
        background-color: rgb(34, 68, 68);
    }

    .box1 {
        grid-column: span 1;
        grid-row: span 3;
    }

    .box4 {
        grid-column: span 1;
        grid-row: span 3;
    }

    .box7 {
        grid-column: span 2;
        grid-row: span 2;
    }

}