@use "../../sass/variables.scss";

.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    width: 100vw;

    .loginContainer {
        display: flex;
        

        .form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
            -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
            box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
            background-color: #fff;
            width: calc(100vw - 3rem);
            max-width: 500px;
            border-radius: 5px;

            .loginTitle {
                font-size: 23px;
                font-weight: bold;
                color: variables.$blue;
            }

            .loginItem {
                display: flex;
                flex-direction: column;
                gap: 10px;

                label {
                    font-size: 14px;
                    color: variables.$blue;
                    font-weight: 500;
                }

                input {
                    border: 1px solid variables.$blue;
                    border-radius: 2px;
                    padding: 5px;
                    transition: 0.2s ease;
                    color: variables.$blue;
                    font-size: 16px;

                    &:focus-visible {
                        transition: 0.2s ease;
                        outline: 3px solid variables.$yellow;
                        border: 1px solid grey;
                    }

                    &::placeholder {
                        font-size: 14px;
                    }
                }

                .loginButton {
                    background-color: variables.$blue;
                    color: #fff;
                    padding: 6px;
                    font-weight: 700;
                    font-size: 16px;
                    border: none;
                    outline: none;
                    margin-top: 5px;
                    cursor: pointer;
                    border-radius: 2px;

                }

                .switch {
                    font-size: 14px;
                    font-weight: 500;
                    color: grey;

                    a {
                        color: rgb(73, 73, 241);
                        font-weight: bold;
                    }
                }
            }
        }
    }
}