@use "../../sass/variables.scss";

.loaderSpinner {
    width: 50px;
    height: 50px;
    border: calc(50px / 8) solid gray;
    border-radius: 50%;
    border-top-color: rgb(211, 208, 208);
    animation: 0.7s ease infinite loading;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}