@use "../../sass/variables.scss";
@use "../../sass/responsive.scss";

.navbar {
    display: flex;
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .logo  {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
            font-weight: 600;
            font-size: 20px;
        }

        img {
            width: 40px;
            object-fit: cover;
            height: 40px;
            cursor: pointer;
        }
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: bold;

        .notificationsModal {
            border-radius: 3px;
            overflow-y: scroll;
            position: fixed;
            top: 0px;
            background-color: variables.$soft-bg;
            right: 0;
            transition: 0.5s ease;
            z-index: 100;
            height: 100vh;
            width: 100%;
            max-width: 500px;
            padding: 15px 20px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            animation: fadeInScale 0.8s ease-in-out forwards;

            .close {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;

                p {
                    font-size: 25px;
                    color: variables.$soft-color;
                    font-weight: 500;
                    text-transform: capitalize;
                }

                .closeBtn {
                    width: 30px;
                    height: 30px;
                }
            }

            .notificationsTitle {
                display: flex;
                margin-bottom: 30px;
                align-items: center;
                gap: 20px;

                h3 {
                    font-size: 25px;
                    font-weight: 500;
                    color: variables.$soft-color;
                }
            }

            .notificationsWrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
            }

        }

        .icon {
            width: 25px;
            height: 25px;
            cursor: pointer;

            @include responsive.sm {
                display: none;
            }
        }



        .user {
            position: relative;
            display: flex;
            align-items: center;
            gap: 10px;


            span {
                font-size: 14px;
                font-weight: 500;
            }

            .avatar {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .connectLink {
            background-color: variables.$soft-bg;
            font-size: 14px;
            font-weight: 300;
            text-decoration: none;
            border-radius: 2px;
            padding: 4px 8px;
            border: none;
            outline: none;
            color: variables.$soft-color;
            cursor: pointer;
            
        }
    }
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    50% {
        opacity: 0.8;
        transform: scale(1.02);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}