
.hospitals {

    .info {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        h1 {
            font-size: 35px;
            font-weight: bold;
        }

        button {
            background-color: #fff;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500px;
            padding: 8px;
            border: none;
            outline: none;

        }
    }

}