@use "../../sass/variables.scss";
@use "../../sass/responsive.scss";

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100px;

    .navbarContainer {
        width: 100%;
        max-width: 1024px;
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        height: 100%;
        align-items: center;
        color: variables.$blue;

        a {
            transition: 0.4s ease all;
            &:hover {
                scale: 1.05;
            }

            @include responsive.sm {
                display: none;
            }
        }

        .left {
            flex: 3;
            display: flex;
            align-items: center;
            gap: 30px;
            height: 100%;

            .logo {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;

                span {
                    font-size: 25px;
                    font-weight: 900;
                    text-transform: uppercase;

                    @include responsive.md {
                        display: none;
                    }

                    @include responsive.sm {
                        display: initial;
                        font-size: 20px;
                    }
                }

                img {
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    object-fit: cover;
                }
            }
        }

        .right {
            flex: 2;
            height: 100%;
            display: flex;
            align-content: center;
            justify-content: flex-end;

            @include responsive.md {
                background-color: transparent;
            }

            a {
                padding: 12px 24px;
                margin: 20px;
            }

            .login {
                color: variables.$blue;
                font-weight: bold;
            }

            .register {
                background-color: variables.$deep-green;
                color: #fff;
                font-weight: bold;
            }

            .user {
                display: flex;
                font-weight: bold;
                align-items: center;
                flex-direction: row;

                img  {
                    width: 40px;
                    height: 40px;
                    margin-right: 20px;
                    object-fit: cover;
                    border-radius: 50%;
                    cursor: pointer;
                }
                
                span {
                    font-size: 16px;
                    font-weight: inherit;

                    @include responsive.sm {
                        display: none !important;
                    }
                }

                .redirectProfile {
                    font-size: 16px;
                    cursor: pointer;
                    background-color: variables.$yellow;
                }
                
            }

            .menuIcon {
                display: none;
                z-index: 999;
                height: 100%;
                align-items: center;
                justify-content: center;

                img {
                    cursor: pointer;
                    width: 36px;
                    height: 36px;
                }

                @include responsive.sm {
                    display: flex;
                }
            }

            .menu {
                position: fixed;
                background-color: variables.$blue;
                top: 0;
                right: -50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #fff;
                align-items: center;
                height: 100vh !important;
                width: 50%;
                transition: 0.5s ease all;
                font-size: 16px;
                font-weight: 500;

                &.active {
                    right: 0;
                }

                @include responsive.sm {
                    a  {
                        display: inline;
                    }
                }
            }
        }



    }
}